.ui-tabs-vertical {
    width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
}

body {
    background-color: #f0f7fa;
}

header {
    padding: 1em;
}

footer {
    background-color: #4b4e54;
    padding: 2em 2em 2em 4em;
    font-size: 1.3em;
    text-align: center;
    color: white;
}

.titulo {
    text-align: center;
    background: rgb(16, 66, 119);
    background: linear-gradient(158deg, rgba(16, 66, 119, 1) 17%, rgba(158, 0, 10, 1) 100%);
    padding: 6em 6em 12em 6em;
    color: white;

}

.menu {
    background-color: white;
}

h1 {
    font-weight: bold;
}

.subtitulo {
    text-align: center;
    text-shadow: 4px 6px 2px rgba(172, 150, 150, 0.96);
    font-weight: bold;
    border-bottom: solid 4px #4a0d04;
    font-family: 'Courier New', Courier, monospace;
    margin: 4em 2em 1em 2em;
    color: #801505;
}

.subtitulo_impor {
    text-align: center;
    text-shadow: 4px 6px 2px rgba(172, 150, 150, 0.96);
    font-weight: bold;
    border-bottom: solid 4px #4a0d04;
    font-family: 'Courier New', Courier, monospace;
    color: #801505;
}

.ret_impor {
    margin-top: 8em;
}

.ret_assunto {
    border-radius: 10%;
    background-color: white;
    margin: 1em;
    padding: 2em;
    -webkit-box-shadow: 2px 6px 11px 2px #979797;
    box-shadow: 2px 6px 11px 2px #979797;
}

.ret_carat {
    border: 3px dashed rgba(16, 27, 24, 0.54);
    border-radius: 28px 28px 28px 28px;
    background-color: white;
    margin: 4em;
    padding: 3em;
    -webkit-box-shadow: 2px 6px 11px 2px #979797;
    box-shadow: 2px 6px 11px 2px #979797;
}

.p_geral {
    text-align: justify;
    text-indent: 1.5em;
}

.p_icone {
    font-size: 2em;

}

.p_podcast {
    -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    margin: 1.5em;
    padding: 2em;
    background-color: white;
}

.icone {
    text-decoration: none;
    color: black;
}

.icone:hover {
    color: black;
}

.icon_lazer {
    width: 13.5em;
    height: 13.5em;
    margin: 5em 0 0 5em;
}

.icon_cultura {
    width: 14em;
    height: 14em;
    margin-top: 5em;
    margin-bottom: 0;
}

.icon_jovens {
    width: 15em;
    height: 15em;
    margin-top: 1em;
}

.img_cultura {
    width: 40em;
    height: 25em;
    border: solid 6px rgb(119, 118, 118);
    border-radius: 10%;
    margin-right: 2em;

}

.link_nav:hover {
    background-color: #aeafb2;
    padding: 1em 4em 1.7em 4em;
    color: #3b3527;

}

.link_nav {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.podcast {
    border: solid 1px black;
    width: 35em;
    height: 25em;
}

.img_candidatos {
    margin: 1.5em;
    width: 50px;
    height: 50px;
}

.btn_voltar {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.btn_voltar:hover {
    color: white;
}

.cand1,
.cand2 {
    border: solid black 2px;
    -webkit-box-shadow: 2px 6px 11px 2px #979797;
    box-shadow: 2px 6px 11px 2px #979797;
    width: 500px;
    padding: 10px;
}

.cand1 {
    text-align: left;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cand2 {
    text-align: right;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.titulo_outros{
    text-align: center;
    background: rgb(16, 66, 119);
    background: linear-gradient(158deg, rgba(16, 66, 119, 1) 17%, rgba(158, 0, 10, 1) 100%);
    padding: 6em 6em 8em 6em;
    color: white;

}

.ret_outros {
    border-radius: 15%;
    background-color: white;
    margin: 1.5em;
    padding: 1em;
    -webkit-box-shadow: 2px 6px 11px 2px #979797;
    box-shadow: 2px 6px 11px 2px #979797;
}

.img_outros{
    width: 20em;
    border-radius: 10%;
    
}

.a_outros{
    color: #3b3527;
    margin: 1em;
    text-decoration: none;
}